display(value, type = noclip, width = 10000px)
  unless (value == media-block)
    display value
    return

  if (type == clip)
    display block
    overflow hidden
  else if (type == noclip)
    display table-cell
    width width
  else
    error('' + 'unrecognized media-block type "%s"' % type)
